<h1><%= @the_user.username%></h1>

<dl>

  <dt>ID</dt>
    <dd><%= @the_user.id%></dd>

  <dt>Edit user</dt>
    <dd>
    
      <form action = "/update_user/<%=@the_user.id%>">
        <label for = "update_user_box" >Username</label>
        <input id = "update_user_box" name = "query_update_user" value = "<%= @the_user.username%>">
        <button>Update user</button>
      </form>
      
    </dd>

</dl>

<h1>Own photos (<%= @the_user.own_photos.count %>)</h1>

<table border = "1">

  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th></th>
  </tr>

<% @the_user.own_photos.each do |item| %>

  <tr>
    <td><img src = "<%= item.image%>"></img></td>
    <td><%= item.poster.username%></td>
    <td><%= item.caption%></td>
    <td><%= item.created_at%></td>
    <td><a href = "/photos/<%= item.id %>" >Show details</a></td>
  </tr>

<% end %>

</table>
